* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}

.first-bar {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  background-color: white;
  padding: 0 1.5rem 0 0;
  font-size: 0.65rem;
  border-bottom: 0.5px solid #575655;
  font-weight: bold;
  font-size: 11px;
  width: 100%;
}

.md {
  display: none;
}

.first-bar a:hover {
  background-color: #ffd400;
  transition: all 0.15s ease-in;
}

.first-bar details {
  color: #575655;
  cursor: pointer;
  padding-top: 0.5rem;
}

.first-bar a {
  text-decoration: none;
  color: #575655;
  padding: 0.5rem 0;
}

.first-bar summary:hover {
  background-color: #ffd400;
  padding-bottom: 0.5rem;
}

#campus-flex {
  display: none;
}

#campus-flex {
  transform-origin: bottom;
  transition: 1s;
  text-align: center;
  border-top: 1px solid #575655;
  border-bottom: 6px solid #ffd400;
  position: absolute;
  top: 1.85rem;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 3px 3px 3px 3px lightgray;
}

#campus-flex a {
  line-height: 1.4rem;
  color: #575655;
}

.truro {
  margin-top: -0.3rem;
}

.halifax {
  margin-bottom: -0.3rem;
}
.active {
  display: none;
}

@media (max-width: 768px) {
  .first-bar {
    display: none;
  }

  .md {
    display: flex;
    justify-content: space-between;
  }

  .md a {
    border-right: 1px solid black;
    padding: 0.55rem;
  }

  .md a:last-child {
    border: none;
  }

  .links {
    padding: 0.55rem;
    font-size: 0.8rem;
    margin: 0.3rem 0;
  }

  .more {
    background-color: #575655;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    padding: 0.55rem 0.75rem 0.55rem 0.75rem;
    margin: 0.3rem 0;
  }

  .more-content {
    background-color: whitesmoke;
    z-index: 100;
    color: black;
    position: absolute;
    right: 0;
    top: 2.4rem;
    padding: 0.2rem 0rem 0.5rem 0.2rem;
    border: 1px solid black;
    width: 25%;
    line-height: 2rem;
  }
  .lapse {
    top: 5.5rem;
  }

  .more-content li {
    list-style: none;
  }

  .more-content a {
    text-decoration: none;
    color: black;
  }
  .more-content li:hover {
    background-color: lightskyblue;
  }
}

/* END OF FIRST BAR */

.second-bar {
  border-bottom: 2px solid #ffd400;
  background-color: white;
  width: 100%;
}
.ion {
  display: flex;
  justify-content: space-between;
}

.second-bar img {
  max-width: 25%;
  max-height: auto;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  cursor: pointer;
}

.input-bar {
  padding: 0.9rem 1.5rem 2rem 0;
  display: flex;
}

.input-bar input {
  padding: 0 15rem 0 0.7rem;
  outline: none;
}

.input-bar ion-icon {
  border: 1px solid black;
  padding: 0.3rem;
  margin-top: 0;
  font-size: x-large;
  cursor: pointer;
  color: #575655;
  display: block;
}

.input-bar ion-icon:hover {
  color: black;
}

@media (min-width: 768px) {
  #hambuger ion-icon {
    display: none;
  }
  .query {
    display: none;
  }
  .more-content {
    display: none;
  }
}

@media (max-width: 768px) {
  .desk {
    display: none;
  }
  .second-bar {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  #hambuger {
    display: flex;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    gap: 0.5rem;
  }
  #hambuger ion-icon {
    width: 2rem;
    height: 2.2rem;
    background-color: #ffd400;
    cursor: pointer;
  }

  .query input {
    justify-content: center;
    width: 92.5%;
    margin-left:1.5rem;
  }
  .query ion-icon {
    font-size: 1.5rem;
    width: 7.5%;
  }
}

@media (max-width: 1080px) {
  .second-bar img {
    max-width: 10rem;
  }
}

/* END OF SECOND BAR */

.bar-3 {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0.5rem 0 0.8rem 1.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: gray;
  width: 100%;
}

.bar-3 li:hover {
  text-decoration: underline 0.5px solid #ffd400;
  color: black;
  transition: ease-in;
}

.bar-3 a {
  text-decoration: none;
  color: #575655;
}

@media (max-width: 768px) {
  .bar-3 {
    display: none;
  }
}
/* END OF THIRD BAR */

.image-1 img {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.img-text {
  width: 48.89%;
  bottom: 0.15rem;
  padding: 0.85rem 1.5rem 1.5rem 0.4rem;
  position: absolute;
  right: 1.4%;
  color: white;
  font: normal 0.65rem/1.4 Arial, Helvetica, sans-serif;
  background-color: black;
  opacity: 0.7;
}

@media (max-width: 770px) {
  .img-text {
    display: none;
  }
}

@media (max-width: 910px) {
  .img-text {
    margin-bottom: 10%;
  }
}

@media (max-width: 1211px) {
  .img-text {
    bottom: 10%;
  }
}

.img-text a:hover {
  text-decoration: underline;
}

.img-text a {
  text-decoration: none;
  color: white;
}

.img-text h3 a {
  color: #ffd400;
}
/* END OF THE BIG IMAGE */

.bar-four {
  display: flex;
}

.bar-four a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  width: 25%;
  text-align: center;
  margin: -0.5rem 0;
  padding: 0.5rem 0;
}

.bar-four a:hover {
  background-color: #575655;
}

.fourth-bar {
  background-color: black;
  padding: 0.5rem 0;
  margin-top: -2px;
}
.md-bar-four {
  display: none;
}
@media (min-width: 478px) {
  .mb-bar-four {
    display: none;
  }
}

@media (max-width: 768px) {
  .fourth-bar {
    display: none;
  }
  .md-bar-four {
    display: flex;
    text-align: center;
    cursor: pointer;
  }
  .md-bar-four a {
    color: white;
    text-decoration: none;
    font-size: 12.6px;
    width: 50%;
    text-align: center;
    line-height: 2.3rem;
  }

  .md-bar-four div:first-child {
    padding: 0 0.25rem 0 0.5rem;
    width: 50%;
  }
  .md-bar-four div:last-child {
    padding: 0 0.5rem 0 0.25rem;
    width: 50%;
  }
  #bottom {
    margin-top: 2px;
    background-color: #272222;
  }
  #bottom:hover {
    background-color: #575655;
  }
  #top {
    background-color: #272222;
  }
  #top:hover {
    background-color: #575655;
  }
}
@media (max-width: 478px) {
  .md-bar-four {
    display: none;
  }
  .mb-bar-four {
    display: block;
    text-align: center;
    margin-top: -3.5px;
  }

  .mb-bar-four p:hover {
    background-color: #575655;
  }
  .mb-bar-four a:hover {
    background-color: #575655;
  }
  .mb-bar-four a,
  .mb-bar-four p {
    color: white;
    text-decoration: none;
    background-color: #272222;
    margin: 0.1rem 0;
    width: 100%;
    padding: 0.6rem 0;
    font-size: 0.8rem;
  }
}
/* END OF FOURTH BAR */

.dal-banner {
  display: flex;
  margin-top: 1.9rem;
}

#covid {
  padding: 0 0.25rem 0 0.5rem;
}

#mobile {
  padding: 0 0.5rem 0 0.25rem;
}

.dal-banner img {
  width: 100%;
  cursor: pointer;
}

.dal-banner a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

.dal-banner a:hover {
  color: black;
}
@media (max-width: 478px) {
  .dal-banner {
    flex-direction: column;
  }
  .dal-banner img {
    width: 100%;
    cursor: pointer;
  }
  #covid,
  #mobile {
    padding: 0 0.5rem;
    margin: 0.5rem 0;
  }
}
/* END OF DAL MOBILE */

.sub-topic h3 {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.sub-topic {
  margin: 2.6rem 0 1rem 0.5rem;
}
/* END OF SUB TOPIC */

.first-stories {
  display: flex;
  margin: 1rem 0.5rem 1rem 0.5rem;
  gap: 0.5rem;
}

.first-stories img {
  width: 100%;
  height: 80%;
  cursor: pointer;
}

.first-stories a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
  width: 100%;
}

.first-stories a:hover {
  color: black;
}

@media (min-width: 768px) {
  .md-first-stories {
    display: none;
  }
  .phone-view {
    display: none;
  }
}

@media (max-width: 768px) {
  .first-stories {
    display: none;
  }

  .md-first-stories img {
    width: 100%;
    height: 80%;
  }
  .md-first-stories a {
    width: 100%;
    text-decoration: none;
    color: #272222;
  }
  .md-first-stories a:hover {
    color: #575655;
  }
  .row1 {
    display: flex;
    padding: 0 0.5rem;
  }
  .row1 div:first-child {
    padding-right: 0.25rem;
  }
  .row1 div:last-child {
    padding-left: 0.25rem;
  }

  .row2 {
    display: flex;
    padding: 0 0.5rem;
  }
  .row2 div:first-child {
    padding-right: 0.25rem;
  }
  .row2 div:last-child {
    padding-left: 0.25rem;
  }
}
@media (min-width: 478px) {
  .phone-view {
    display: none;
  }
}
@media (max-width: 478px) {
  .md-first-stories {
    display: none;
  }
  .phone-view {
    display: block;
    padding: 0 0.5rem;
  }
  .phone-view img {
    width: 100%;
  }
  .phone-view a {
    width: 100%;
    text-decoration: none;
    color: #272222;
  }
  .phone-view div {
    margin: 1.5rem 0;
  }
  .phone-view a:hover {
    color: #575655;
  }
}
/* END OF FIRST STORIES */

.sub-topic-2 {
  margin: 4rem 1.5rem 7rem 0;
  text-align: end;
}

.sub-topic-2 a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #ffd400;
  font-size: small;
}

.sub-topic-2 a:hover {
  color: black;
  text-decoration: underline 2px solid black;
  border: none;
}
/* END OF SUB TOPIC 2 */

.sub-topic-3 h3 {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.sub-topic-3 {
  margin: 1.5rem 0 1rem 0.5rem;
}
/* END OF SUB TOPIC 3 */

.second-stories {
  display: flex;
  margin: 1rem 0.5rem 4rem 0.5rem;
  gap: 0.5rem;
}

.second-stories img {
  width: 100%;
  height: 80%;
  cursor: pointer;
}

.second-stories a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
  width: 100%;
}

.second-stories a:hover {
  color: black;
}
@media (max-width: 768px) {
  .second-stories {
    display: none;
  }
}
/* END OF SECOND STORIES */

.others {
  display: flex;
  margin: 7rem 0 0 0.5rem;
}

.others a {
  color: black;
  text-decoration: underline 2px solid #ffd400;
  font-size: 1rem;
  font-weight: 400;
}

.others a:hover {
  color: black;
  text-decoration: underline 2px solid black;
  border: none;
}

.others ul {
  padding-left: 1rem;
}

.others h3 {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.others div {
  width: 25%;
}
@media (min-width: 768px) {
  .md-others2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .others {
    display: none;
  }
  #break {
    display: flex;
  }
  .others2 {
    margin-top: 2.5rem;
  }
  .others2 div {
    width: 100%;
    padding-left: 0.5rem;
  }
  .others2 a {
    color: black;
    text-decoration: underline 2px solid #ffd400;
    font-size: 1rem;
    font-weight: 400;
  }

  .others2 a:hover {
    color: black;
    text-decoration: underline 2px solid black;
    border: none;
  }

  .others2 ul {
    padding-left: 1rem;
  }

  .others2 h3 {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  #down {
    margin-top: 1rem;
  }
}
@media(min-width:478px){
  .three{
    display: none;
  }
}
@media(max-width:478px){
  .md-others2 {
    display: none;
  }
  .three{
    display: block;
  }
  .three {
    margin: 4rem 0 0 0.5rem;
  }
  
  .three a {
    color: black;
    text-decoration: underline 2px solid #ffd400;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .three a:hover {
    color: black;
    text-decoration: underline 2px solid black;
    border: none;
  }
  
  .three ul {
    padding-left: 1rem;
  }
  
  .three h3 {
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  
  .three div {
    width: 100%;
    margin: 1rem 0;
  }
}

/* END OF OTHERS */

.socials {
  float: right;
  display: flex;
  gap: 0.5rem;
  margin-right: 1.5rem;
  margin-top: 5.5rem;
}

.socials ion-icon {
  color: black;
  font-size: 1.8rem;
  display: block;
}
/* END OF SOCIAL MEDIA */

.social-link {
  margin: 10rem 1.5rem 1rem 0;
  text-align: end;
}

.social-link a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #ffd400;
  font-size: small;

}

.social-link a:hover {
  color: black;
  text-decoration: underline 2px solid black;
  border: none;
}

/* END OF SOCIAL LINK */

.location {
  margin-top: 2rem;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.78rem;
}
/* END OF LOCATION */

.footer {
  display: flex;
  border-top: 4px solid #ffd400;
  margin-top: 1.5rem;
  justify-content: space-between;
  padding: 1.25rem 1.25rem 0 1.25rem;
  background-color: #272222;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.address h4 {
  font-size: 0.7rem;
  color: white;
}

.address p {
  color: white;
  font-size: 0.7rem;
}

.address div {
  padding-bottom: 1.5rem;
}

.core a {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
}

.core a:hover {
  color: #ffd400;
  text-decoration: underline 0.5px solid #ffd400;
  transition: all 0.15s ease-in;
}

.core a {
  border-right: 1px solid white;
  padding-right: 0.3rem;
}

#core {
  padding: 1.5rem 0 0 1.82rem;
}

#no-b,
#no-bo {
  border-right: none;
}
@media (min-width: 978px) {
  .footer2 {
    display: none;
  }
}
@media (max-width: 978px) {
  .footer {
    display: none;
  }
  .footer2 {
    padding: 1.25rem;
    background-color: #272222;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    border-top: 4px solid #ffd400;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 11.2px;
  }
  #second {
    margin-top: 1rem;
    color: white;
    font-size: 11.2px;
  }
  #first a {
    text-decoration: none;
    border-right: 1px solid white;
    padding: 0 0.3rem;
    color: white;
    font-size: 11.2px;
  }
  #first a:hover {
    color: #ffd400;
    text-decoration: underline 0.5px solid #ffd400;
    transition: all 0.15s ease-in;
  }
  #first a:last-child {
    border: none;
  }
  #third {
    margin-top: 1.8rem;
    display: flex;
    background-color: whitesmoke;
    border: 4px solid gray;
    border-radius: 0.5rem;
    width: 10rem;
    justify-content: center;
    padding: 0.5rem;
  }
  #third:hover {
    opacity: 0.5;
  }
  #third a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
  #third ion-icon {
    color: gray;
    font-size: 1rem;
    border-radius: 1rem;
    border: 3px solid gray;
  }
  #btm {
    display: flex;
    place-content: center;
  }
}
/* END OF FOOTER */

.question img {
  right: 0;
  bottom: 0;
  position: fixed;
}
@media (max-width: 1000px) {
  .question img {
    display: none;
  }
}
